[Unit]
Description=Gunicorn instance to service bulma intro
After=network.target

[Service]
User=root
WorkingDirectory=/app
ExecStart=gunicorn --workers 3 --bind unix:bulma.sock wsgi:app

[Install]
WantedBy=multi-user.target